---
import Main from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const postsEntries = await getCollection("posts");
  return postsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main pageTitle={`${entry.data.title} | Joanna Hosking - Web Developer`}>
  <article class="blog">
    <h1>{entry.data.title}</h1>
    <span class="date"
      >Posted {
        entry.data.pubDate.toLocaleDateString("en-GB", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }</span
    >
    <Content />
    <p class="go-back">
      <a href="/">&larr; back</a>
    </p>
  </article>
</Main>

<style>
  .blog {
    h1 {
      margin-bottom: 0;
    }

    .date {
      font-size: 0.9rem;
      text-transform: uppercase;
    }

    pre {
      padding: 1rem;
      font-size: clamp(12px, 0.9rem, 16px);
    }

    .go-back {
      margin-top: 1rem;
    }
  }
</style>
