---
import Main from "../layouts/Main.astro";
const pageTitle = "Uses | Joanna Hosking - Web Developer";
---

<Main pageTitle={pageTitle}>
  <div class="uses">
    <h1>Uses</h1>
    <p>
      Tools and tech I use daily, inspired by Wes Bos' <a
        href="https://uses.tech/"
        target="_blank"
        rel="noreferrer">uses.tech</a
      >.
    </p>

    <h2>Hardware</h2><ul>
      <li>Macbook Air</li>
      <li>iPhone 14</li>
      <li>Sony WH-1000XM4</li>
    </ul>

    <h2>Software</h2><ul>
      <li>
        VSCode
        <ul>
          <li>
            <a
              href="https://github.com/barklan/kanagawa.vscode"
              target="_blank"
              rel="noreferrer">Kanagawa</a
            > theme
          </li>
          <li>Prettier</li>
        </ul>
      </li>
      <li>Chrome, Firefox, and Canary</li><li>
        <a href="https://magnet.crowdcafe.com/" target="_blank" rel="noreferrer"
          >Magnet</a
        >
      </li>
      <li>
        <a href="https://figma.com/" target="_blank" rel="noreferrer">Figma</a>
      </li>
      <li>
        <a href="https://pieces.app/" target="_blank" rel="noreferrer"
          >Pieces for Developers</a
        >
      </li>
      <li>Spotify</li>
    </ul>

    <h2>Services</h2><ul>
      <li>
        <a
          href="https://github.com/joannahosking"
          target="_blank"
          rel="noreferrer">Github</a
        >
      </li>
      <li>
        <a href="https://www.sanity.io/" target="_blank" rel="noreferrer"
          >Sanity</a
        >
      </li>
      <li>
        <a href="https://supabase.com/" target="_blank" rel="noreferrer"
          >Supabase</a
        >
      </li>
      <li>
        <a href="https://www.postman.com/" target="_blank" rel="noreferrer"
          >Postman</a
        >
      </li>
      <li>
        <a
          href="https://www.goodreads.com/user/show/64317513-joanna-hosking"
          target="_blank"
          rel="noreferrer">Goodreads</a
        >
      </li>
      <li>
        <a href="https://www.netlify.com/" target="_blank" rel="noreferrer"
          >Netlify</a
        >
      </li>
    </ul>

    <h2>Miscellaneous</h2>
    <li><a href="https://www.goatcounter.com/" target="_blank" rel="noreferrer">GoatCounter</a></li>
    <li><a href="https://regex101.com/" target="_blank" rel="noreferrer">Regex101</a></li>
    <li><a href="https://www.typewolf.com/" target="_blank" rel="noreferrer">Typewolf</a></li>
    <li><a href="https://boxicons.com/" target="_blank" rel="noreferrer">Boxicons</a></li>
    <li><a href="https://www.truegrittexturesupply.com/" target="_blank" rel="noreferrer">True Grit Texture Supply</a></li>
    <li><a href="https://itch.io/" target="_blank" rel="noreferrer">itch.io</a></li>
  </div>
</Main>

<style>
  .uses {
    h2 {
      margin-bottom: 0.25rem;
    }

    ul {
      padding-left: 1.5rem;
      margin-top: 0;
      line-height: 1.75;

      ul {
        margin: 0;
      }
    }
  }
</style>
