---
import Main from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const projectsEntries = await getCollection("projects");
  return projectsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main pageTitle={`${entry.data.title} | Joanna Hosking - Web Developer`}>
  <article>
    <h1>{entry.data.title}</h1>
    <Content />
    <p class="go-back">
      <a href="/">&larr; back</a>
    </p>
  </article>
</Main>

<style>
  .go-back {
    margin-top: 1rem;
  }
</style>
